{% extends 'admin/base.html.twig' %}

{% block contenu %}
    <div class="container">

        <img class="rounded mx-auto d-block" src="{{ asset('formu+departement.png') }}" alt="Symfony!"/>
        {{ form_start(formulaireDepartement) }}
        <div class="row">
            <div class="col">
                {{ form_row(formulaireDepartement.Nom) }}
            </div>
            <div class="col">
                {{ form_row(formulaireDepartement.Numero) }}
            </div>

        </div>

        {{ form_rest(formulaireDepartement) }}

        {% if app.request.get('_route') == 'app_admin_departement_ajouter' %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Ajouter</button>
            </div>
        {% else %}
            <div class="example-wrapper">
                <button class="btn btn-success rounded mx-auto d-block" type="submit">Modifier</button>
            </div>
        {% endif %}

        {{ form_end(formulaireDepartement) }}
    </div>


{% endblock %}